<header>
    <span class="logo">☃</span><span class="header">SeenIt</span>
    {{#if isLoggedIn}}
    <div id="profile"><span>{{loggedUser}}</span>|<a href="#/logout">logout</a></div>
    {{/if}}
</header>